---

---

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Josh Engels</title>

  <!--------------------------------- Theme ----------------------------------->
  <link rel="stylesheet" href="stylesheets/styles.css">

  <!--------------------------------- Icons ----------------------------------->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css"
  integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

  <!--------------------------------- Other stuff ----------------------------->
  {%- include common-head.html -%}

  {% seo %}

  {% include analytics.html %}

  <style>
    .social-icons {
      display: flex;
      justify-content: center;
      margin-top: 10px; /* Adjust as needed for spacing */
    }
  </style>

</head>

<body>
  <div class="wrapper">
    <header>
      <h1>Josh Engels</h1>
      <img src="assets/images/bio.jpg" alt="Bio Image" 
        style="border-radius: 50%">

      <div class="social-icons">
        <a class="social-icon" href="mailto:josh.adam.engels@gmail.com"><i
            class="fa fa-envelope-square"></i></a>
        <a class="social-icon" href="https://github.com/JoshEngels/"><i
            class="fa fa-github-square"></i></a>
        <a class="social-icon" href="https://scholar.google.com/citations?user=yVPnVK8AAAAJ&hl=en"><i
            class="ai ai-google-scholar-square"></i></a>
        <a class="social-icon" href="assets/files/CV.pdf"><i class="ai ai-cv-square"></i></a>
        <!-- Twitter icon -->
        <a class="social-icon" href="https://x.com/JoshAEngels"><i class="fa fa-twitter-square"></i></a>
      </div>

      <br>

    </header>

    <section>
      <h1>Howdy!</h1>

      I am currently a second year EECS PhD student at MIT, where I am grateful to be advised by 
      <a href="https://tegmark.org/">Max Tegmark</a>. Broadly, I am interested in understanding neural networks 
      from the ground up through the lens of interpretability, with an eventual goal of using these
      insights to ensure powerful AI systems are robust and safe. I am currently
      supported by the NSF Graduate Research Fellowship Program.

      <br><br>     

      Earlier in my PhD, I had the pleasure of working with Julian Shun on building high 
      performance algorithms, with a focus on approximate nearest neighbor search.
      I also previously spent two enjoyable years working at ThirdAI, where we built a
      sparse machine learning engine from scratch. 

      <br>
      <br>

      <hr>
      <h2>Papers</h2>

      <p>
        <b>Not All Language Model Features Are Linear.</b> <br>
        <u>Joshua Engels</u>, Eric J. Michaud, Isaac Liao, Wes Gurnee, and Max Tegmark.<br>
        <a href="https://arxiv.org/pdf/2405.14860">Preprint</a> |
        <a href="https://github.com/JoshEngels/MultiDimensionalFeatures">Code</a> |
        <a href="https://x.com/JoshAEngels/status/1793990584719548493">Twitter</a>
      </p>

      <p>
        <b>Approximate Nearest Neighbor Search with Window Filters.</b> <br>
        <u>Joshua Engels</u>, Benjamin Landrum, Shangdi Yu, Laxman Dhulipala, and Julian Shun.<br>
        To appear at ICML 2024.<br>
        <a href="https://arxiv.org/pdf/2402.00943.pdf">Preprint</a> |
        <a href="https://github.com/JoshEngels/RangeFilteredANN">Code</a>
      </p>

      <p>
        <b>PECANN: Parallel Efficient Clustering with Graph-Based Approximate Nearest Neighbor Search.</b> <br>
        Shangdi Yu, <u>Joshua Engels</u>, Yihao Huang, and Julian Shun.<br>
        <a href="https://arxiv.org/abs/2312.03940">Preprint</a> |
        <a href="https://github.com/yushangdi/PECANN-DPC">Code</a>
      </p>
      

      <p>
        <b>DESSERT: An Efficient Algorithm for Vector Set Search with Vector Set Queries.</b> <br>
        <u>Joshua Engels</u>, Benjamin Coleman,  Vihan Lakshman, and Anshumali Shrivastava<br>
        NeurIPS 2023.<br>
        <a href="https://proceedings.neurips.cc/paper_files/paper/2023/file/d6cc45de2e2dea14b96c1eba88fd8ef7-Paper-Conference.pdf">Paper</a> |
        <a href="https://github.com/ThirdAIResearch/Dessert">Code</a> |
        <a href="dessert">Blog Post</a>
      </p>

      <p>
        <b>BOLT: An Automated Deep Learning Framework for Training and Deploying Large-Scale Search and Recommendation Models on Commodity CPU Hardware.</b> <br>
        Nicholas Meisburger, Vihan Lakshman, Benito Geordie, <u>Joshua Engels</u>, David Torres Ramos, Pratik Pranav, Benjamin Coleman, et al.<br>
        CIKM 2023.<br>
        <a href="https://dl.acm.org/doi/pdf/10.1145/3583780.3615458">Paper</a>
      </p>
      
 
      <p>
        <b>From Research to Production: Towards Scalable and Sustainable Neural Recommendation Models on Commodity CPU Hardware.</b> <br>
        Anshumali Shrivastava, Vihan Lakshman, Tharun Medini, Nicholas Meisburger, <u>Joshua Engels</u>, David Torres Ramos, Benito Geordie, et al.<br>
        RecSys 2023.<br>
        <a href="https://dl.acm.org/doi/pdf/10.1145/3604915.3610249">Paper</a>
      </p>

      <p>
        <b>Practical Near Neighbor Search via Group Testing.</b> <br>
        <u>Joshua Engels</u>*, Benjamin Coleman*, and Anshumali Shrivastava<br>
        NeurIPS 2021: Spotlight talk - top 3%<br>
        <a href="https://proceedings.neurips.cc/paper/2021/file/5248e5118c84beea359b6ea385393661-Paper.pdf">Paper</a> |
        <a href="https://slideslive.com/38968473/practical-near-neighbor-search-via-group-testing?ref=recommended">Talk</a> |
        <a href="https://github.com/JoshEngels/FLINNG">Code</a>
        <!-- <a href="flinng">Blog Post</a> -->
      </p>

      <p>
        <b>Missed one! How ballot layout and visual task strategy can interact to produce voting errors.</b> <br>
        <u>Joshua Engels</u>, Xianni Wang, Michael D. Byrne<br>
        International Conference on Cognitive Modeling 2020.<br>
        <a href="https://par.nsf.gov/servlets/purl/10195603">Paper</a> |
        <a href="https://mathpsych.org/presentation/148">Talk</a> |
        <a href="https://github.com/JoshEngels/VotingModel">Code</a> |
        <a href="voting">Blog Post</a>
      </p>

      * indicates equal contribution<br>

      <hr>

      <h2>Blog Posts</h2>
      {% for post in site.posts %}
      <a href="{{ post.url }}">{{ post.title }}</a><br>
      {{ post.content | strip_html | truncatewords: 18 }}
      <br>
      {% if forloop.last == false %}
        <br>
      {% endif %}
      {% endfor %}

    </section>
    <footer>
      <p><small>Check out this website's source <a
            href="https://github.com/JoshEngels/JoshEngels.github.io">here</a>!</small><br>
        <small>Hosted on GitHub Pages with Jekyll. <br>
          Homepage theme by <a href="https://github.com/orderedlist">orderedlist</a>.</small>
      </p>
    </footer>
  </div>
  <script src="/javascripts/scale.fix.js"></script>
</body>

</html>
